*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-light: #fff;
  --clr-dark: #00213F;
  --clr-accent:linear-gradient(
    to right,
    #29ffc6,
    #20e3b2,
    #0cebeb
  );
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  /* --bs: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
  --bs: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  /* --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15); */
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  /* background-image: url(/img/back0.png); */
  background-size: cover;
  background-color: var(--clr-light);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1002'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1001'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1006'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='150' y='150' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='330' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='390' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='510' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='30' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='630' y='330' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='90' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='690' y='510' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='570' stroke='%231c538e'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-repeat: no-repeat;
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  height: 100%; 
}

ul {
  list-style-type: none;
}

a { 
  color: inherit; 
  text-decoration: none;
} 

section {
  padding: 4em 1em 0.4em 1em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

footer p{
  padding-top: 2em;
  text-align: center;
}

strong { font-weight: var(--fw-bold) }

i{
  padding: 0.2em;
  font-size: 2em;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}



/*  Intro section  */

.intro {
  position: relative;
  display: grid;
  align-self: center;
  margin-top: 10em;
}

#name{
  margin-top: 0.3em;
}

#name path:nth-child(2){
  stroke-dasharray: 366.3px;
  stroke-dashoffset: 366.3px;
  animation: line-anim 2.5s ease forwards 0.3s;
}
#name path:nth-child(3){
  stroke-dasharray: 386.9px;
  stroke-dashoffset: 386.9px;
  animation: line-anim 2.5s ease forwards 0.3s;
}
#name path:nth-child(4){
  stroke-dasharray: 420.9px;
  stroke-dashoffset: 420.9px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(5){
  stroke-dasharray: 342.2px;
  stroke-dashoffset: 342.2px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(6){
  stroke-dasharray: 363.1px;
  stroke-dashoffset: 363.1px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(7){
  stroke-dasharray: 296.4px;
  stroke-dashoffset: 296.4px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(8){
  stroke-dasharray: 386.9px;
  stroke-dashoffset: 386.9px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(9){
  stroke-dasharray: 296.4px;
  stroke-dashoffset: 296.4px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(10){
  stroke-dasharray: 428.8px;
  stroke-dashoffset: 428.8px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(11){
  stroke-dasharray: 254.5px;
  stroke-dashoffset: 254.5px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(12){
  stroke-dasharray: 386.9px;
  stroke-dashoffset: 386.9px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(13){
  stroke-dasharray: 420.9px;
  stroke-dashoffset: 420.9px;
  animation: line-anim 3s ease forwards 0.3s;
}
#name path:nth-child(14){
  stroke-dasharray: 370.2px;
  stroke-dashoffset: 370.2px;
  animation: line-anim 3s ease forwards 0.3s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0px;
  }
}

.section__subtitle--intro {
  display: inline-block;
}

.social-list{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.social-list li{
  padding: 0.2em;
}

.fa-github:hover{
  color: #333;
}

.fa-facebook:hover{
  color: #3b5998;
}

.fa-linkedin:hover{
  color: #0077b5;
}

.fa-instagram:hover{
  color: #e1306c;
}

.fa-twitter:hover{
  color: #1da1f2;
}


/* about-me */

.about-me__body{
  background-image: url(/img/port2.png);
  z-index: 10;
  padding: 0.5rem 1.5em;
  background-color: var(--clr-light);
  position: relative;
  /* color: var(--clr-light); */
  box-shadow: var(--bs);
  border-radius: 1em;
}

.about-me__body p {
  font-size: 1.1em;
  margin: 1em 0.2em;
  font-weight: 600;
  opacity: .9;
}

.section__title--about{
  padding: 0.3em;
}

.section__subtitle--about{
  overflow: hidden;
  animation: slide 1s ease;
}

@keyframes slide{
  0% { width:  0;}
  100% {width: 100%;}
}

.my-info{
  margin-bottom: 2em;
}

.skills-list{
  display: inline-block;
  width: 8em;
  vertical-align: top;
}

.skill_subsection{
  background-image: url(/img/port2.png);
  z-index: 10;
  padding: 0.5rem 1.5em;
  position: relative;
  box-shadow: var(--bs);
  background-color: var(--clr-light);
  border-radius: 1em;
}

.skill_subsection h3{
  text-align: center;
}

.skill_subsection ul{
  margin-left: 1em;
  list-style-type: '\1F449' ;
  font-weight: bold;
}

/* my work   */

.section__title--work, 
.section__title--contact{
  text-align: center;
  padding: 0.3em;
}

.portfolio__item{
  position: relative;
  margin: 0 1em 1em;

}


.portfolio__img{
  position: relative;
  width: auto;
  height: auto;
}

.portfolio__img-container{
  position: relative;
  border-radius: 1em;
}

.portfolio__img--overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .5;
  transition: .5s ease;
  background-color: #000000;
  border-radius: 1em;
}

.portfolio__img--overlay:hover{
  opacity: 0;
}

.portfolio_subsection{
  position: absolute;
  z-index: 10;
  padding: 1rem 2em;
  background-color: white;
  position: relative;
  margin: -5em 0.5em 0em 0.5em;
  box-shadow: var(--bs);
  border-radius: 1em;
  background-image: url(/img/port2.png);
}

.portfolio_subsection p{
  padding: 0.6em 0;
}

.portfolio__btn{
  background-color: var(--clr-light); /* Green */
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.4s ease;
  border-radius: 1em;
}

.portfolio__btn:hover{
  cursor: pointer;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,63,1) 51%, rgba(14,97,115,1) 100%);
  border: 1px solid var(--clr-light);
  color: var(--clr-light);
}

#contact {
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  margin: 2em 0;
  box-shadow: var(--bs);
  border-radius: 1em;
  background-image: url(/img/port2.png);
}

#contact p{
  margin-bottom: 0.5em;
}

#contact h3 {
  color: var(--clr-accent);
  display: block;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.3em;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid rgb(54, 54, 54);
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--clr-accent);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: var(--clr-accent);
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.contacts__list i {
  font-size: 1.2em;
  padding: 0.5em;
}

@media (max-width: 700px){

  section {
    padding: 1em 1em;
  }

  footer p{
    padding-top: 2em;
  }

  #footer__intro{
    padding-top: 9.5em;
  }

  /* header */

  .nav-toggle{
    margin: 1.7em;
    position: relative;
    z-index: 101;
    top: 0;
  }

  .nav_link_js{
    font-weight: 700;
  }

  .hamburger{
    background-color: var(--clr-dark);
    display: block;
    width: 33px;
    height: 4px;
    position: relative;
    border-radius: 3px;
    margin: 0.3em 0;
    transform-origin: 4px 0px;
    transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .hamburger__cross{
    opacity: 1;
    transform: rotate(45deg) translate(-3px, 0px);
    background-color: var(--clr-light);
  }

  .hamburger__cross:first-child{
    transform-origin: 0% 0%;
  }

  .hamburger__cross:nth-last-child(2){
    transform-origin: 0% 100%;
  }

  .hamburger__cross:nth-last-child(2){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .hamburger__cross:nth-last-child(1){
    transform: rotate(-45deg) translate(0, -1px);
  }

  .nav__hide{
    display: none;
  }

  .nav__show .nav{
    transform: translateX(0);
  }

  .nav{
    position: absolute;
    top: 0;
    padding: 5em 1em 2em 1.7em;
    width: 70%;
    height: 100vh;
    z-index: 99;
    transform-origin: 0% 0%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,63,1) 51%, rgba(14,97,115,1) 100%);
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }


  .nav__item{
    font-size: var(--fs-h2);
    padding-bottom: 0.2em;
    color: var(--clr-light);
  }

  .intro{
    margin-top: 6em;
  }

  #name{
    width: 100%;
    margin: 0;
  }

  .skill-sub{
    display: grid;
    column-gap: 1.5em;
    row-gap: 2em;
    grid-template-columns: 1fr;
  } 

}

@media (min-width: 700px) {

  /* header */

  #footer__intro{
    padding-top: 8em;
  }

  .nav{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
    z-index: 100;
  }

  .nav--color{
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,63,1) 51%, rgba(14,97,115,1) 100%);
    color: white;
    transition: all 0.5s ease;
  }
  
  .nav__list{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5em;
    position: relative;
    padding: 0 7em;
    transition: all 0.5s ease;
  }
  
  
  .nav__item{
    border:none;
    position: relative;
  }
  .nav__item:hover{
    border: none;
  }
  
  .nav__link{
    font-weight: 400;
    font-size: 1.2em;
  }

  .nav_link_js{
    font-weight: 700;
  }
  
  .nav__link::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 150%;
    right: 150%;
    display: block;
    background-color: var(--clr-light);
    transition: all ease-in-out .2s;
  }
  .nav__link:hover::after{
    width: 100%;
    left: 0;
  }

  /* intro */

  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5em;
  }
  
  .section_blank--intro{
    width: 7em;
  }
  
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    width: calc(100% + 1.5em);
  }

  /* about-me */

  .about-me{
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr 1fr;
    margin: 0em 7%;
  }

  .about-me__body p {
    font-size: 1.3em;
    margin: 1em;
  }

  .skill-sub{
    display: grid;
    column-gap: 1.5em;
    row-gap: 2em;
    grid-template-columns: 1fr 1fr;
  } 

  .skills-list{
    display: inline-block;
    width: 9em;
    vertical-align: top;
  }

  /* my-work */
  .my-work{
    margin: 0 7%;
  }
  
  .portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }
  
  .portfolio_subsection{
    position: absolute;
    z-index: 10;
    padding: 1rem 1.5em;
    background-color: white;
    position: relative;
    margin: -8em 0em 0em 3em
  }

  /* contact-me */

  .container {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    justify-content: center;
  }

  .contact-me{
    margin: 0 7%;
    align-items: center;
  }
  
}



